.container {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h1.title {
        color: var(--secondary-green);
        font-size: 4.1rem;
        margin-bottom: 6rem;
        margin-left: 30rem;
    }
}