nav.container {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        a {
            color: #000;
        }
    }
}


.alert {
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }