nav.container {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        a {
            color: #000;
            text-transform: uppercase;

            &:hover {
              text-decoration: none;
            }
        }
    }
}

.activeLink {
  color: var(--primary-green) !important;
  font-weight: bold;
}