<div class="container-fluid header">
    <h1 class="title">
        Contact us
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 form">
            <h1 class="title">Get In Touch</h1>
            <form action="">
                <input type="text" placeholder="Full Name" name="fullname">
                <input type="text" placeholder="Email" name="email">
                <textarea name="message" placeholder="Your Message..."></textarea>
                <app-btn-filled [text]="'send now'"></app-btn-filled>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="title">Get In Touch</h1>
        </div>
    </div>
</div>