<header>
  <div class="container">
      <h1>contact us</h1>
  </div>
</header>

<section class="form">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">

        <h1 class="title">Get In Touch</h1>

        <form (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm">
          <div class="form-group">
            <input 
              type="text" 
              name="fullName" 
              class="form-control" 
              [(ngModel)]="fullName" 
              required
              #fullNameInput="ngModel"
              placeholder="Full Name"
              autocomplete="off"
              required
            />
          </div>
        
          <div class="form-group">
            <input 
              type="email" 
              name="email" 
              class="form-control" 
              [(ngModel)]="email" 
              required
              #emailInput="ngModel"
              placeholder="Email"
              autocomplete="off"
              value="{{currentUser?.email}}"
              disabled="true"
              required
            />
          </div>
        
          <div class="form-group">
            <textarea 
              name="message" 
              class="form-control" 
              [(ngModel)]="message" 
              required
              #messageInput="ngModel"
              placeholder="Enter your message ..."
              autocomplete="off"
              required=""
              ></textarea>
          </div>
          <app-btn-filled [text]="'Submit Feedback'" [link]="'/contact'" ></app-btn-filled>
        </form>
      
      </div>
      <div class="col-12 col-lg-6">

        <h1 class="title">Talk To Us</h1>
        
        <div class="items">
          <div class="item">
            <div class="icon">
              <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="info">
              <span>Email : </span>
              <p>{{'earth.store@contact.com'}}</p>
            </div>
          </div>
        </div>

        <div class="items">
          <div class="item">
            <div class="icon" style="font-weight: 500; font-size: 1.8rem;">
              ?
            </div>
            <div class="info">
              <span>Phone Number : </span>
              <p>+216 92 690 120</p>
            </div>
          </div>
        </div>

        <div class="items">
          <div class="item">
            <div class="icon">
              <i class="fa-regular fa-map"></i>
            </div>
            <div class="info">
              <span>Address : </span>
              <p>Nabeul, Hammem Ghezaz. Av kerkouane</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
  