.grid-container {
    display: grid;
    max-width: 100%;

    gap: 4rem 3rem;
    grid-template-columns: 1fr;
  
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .product {
        position: relative;
        cursor: pointer;

        .thumb {
            max-height: 25rem;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {width: 100%;}
        }

        .body {
            padding: 1rem;

            .name-price {
                display: flex;
                justify-content: space-between;

                .name {
                    font-weight: bold;
                    color: var(--secondary-green);
                }
            }

            .category {
                color: var(--primary-gray);
            }
        }

        .add-to-cart {
            opacity: 0;
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: rgba(#FFF, .5);
            border-radius: 50%;
            transition: .3s;
            width: 3.4rem;
            height: 3.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.7rem;

            &:hover {
                background: var(--primary-white);
            }

            i {color: var(--secondary-green);}
        }

        &:hover {
            .add-to-cart {
                opacity: 1;
            }

        }
    }
}
  