<div class="grid-container">
  <div *ngFor="let product of products;" class="product">
    <div class="thumb" (click)="onProductClick(product)">
      <img [src]="product.img" alt="{{ product.name }}">
    </div>
    
    <div class="body" (click)="onProductClick(product)">
      <div class="name-price">
        <span class="name">{{ product.name }}</span>
        <span class="price">{{ product.price }}$</span>
      </div>
      <p class="category">{{ product.category }}</p>
    </div>

    <button type="button" class="btn add-to-cart" title="Add to Cart" (click)="onAddToCart(product); $event.stopPropagation()">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
  </div>
</div>
