:root {

    // animations
    --transition-1-duration : .3s;

    // colors
    --primary-black : #000;
    --primary-white : #fff;
    --primary-green : #06752E;
    --secondary-green : #1bae70;
    --dark-green: #2c541d;
    --primary-gray : #979797;
    --secondary-gray : #6b6b6b;
}