<header>
    <div class="container">
        <h1>who are we ?</h1>
    </div>
</header>
<section class="container story">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="thumb"></div>
        </div>
        <div class="col-12 col-lg-6 text">
            <div>
                <h1>our mission</h1>
                <p>
                    Hello, my name is Tyler Moore and with the help of many people I made this template. I made it so it is super easy to update and so that it flows perfectly with my tutorials. Lots of love and hundreds of hours went into making it. I hope you love it as much as I do.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="banner">
    <div class="container">
        <h1>GIVE THE GIFT OF A POSTCARD</h1>
        <p>Give the gift of a lasting memory with a postcard</p>
        <app-btn-filled [text]="'PURCHASE A POSTCARD'" [link]="'/shop'"></app-btn-filled>
    </div>
</section>