<header>
    <div class="container">
        <h1>who are we ?</h1>
    </div>
</header>
<section class="container story">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="thumb"></div>
        </div>
        <div class="col-12 col-lg-6 text">
            <div>
                <h1>our mission</h1>
                <p>
                    my name is Maissen, and I’m the proud owner of a marketplace that offers a wide range of beautiful and cute products. From stylish accessories to unique home decor, our collection is carefully curated to bring joy and charm to your life. Whether you’re looking for a thoughtful gift or something special for yourself, we have something for everyone. We put love and attention into every product to ensure it adds that perfect touch to your home. Explore our shop and find something that makes you smile today!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="banner">
    <div class="container">
        <h1>GIVE THE GIFT OF A POSTCARD</h1>
        <p>Give the gift of a lasting memory with a postcard</p>
        <app-btn-filled [text]="'PURCHASE A POSTCARD'" [link]="'/shop'"></app-btn-filled>
    </div>
</section>