<div class="container">
    <h1>Log In</h1>
    <form (ngSubmit)="onLogin()">
      <input 
        type="text" 
        name="email" 
        [(ngModel)]="email" 
        placeholder="Enter your email" 
        required 
        autocomplete="off"
      />
      <input 
        type="password" 
        name="password" 
        [(ngModel)]="password" 
        placeholder="Enter password" 
        required 
        autocomplete="off"
      />
      <a routerLink="/register">You're a new user?</a>
      
      <button type="submit">Login</button>
    </form>
  </div>
  