<div class="container">
    <form (ngSubmit)="onLogin()">
      <input 
        type="text" 
        name="email" 
        [(ngModel)]="email" 
        placeholder="Enter your email" 
        required 
      />
      <input 
        type="password" 
        name="password" 
        [(ngModel)]="password" 
        placeholder="Enter password" 
        required 
      />
      
      <button type="submit">Login</button>
      <a routerLink="/register">You're a new user?</a>
  
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  