

<div class="container">
    <form action="">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password1" placeholder="Enter password">
        <input type="password" name="password2" placeholder="Confirm password">
        <select name="usertype">
            <option value="regular">Regular User</option>
            <option value="admin">Admin</option>
        </select>

         <button>register</button>
        <a routerLink="/login">Aleardy has an account ?</a>
    </form>
</div>