.container {
    padding-top: 5rem;
    padding-bottom: 5rem;

    form {
        display: flex;
        flex-direction: column;
        max-width: 40rem;
        margin: auto;
    }

    input,
    select{
        padding: 1.27rem;
        font-size: 1.7rem;
        margin-bottom: 3rem;
        height: 5.6rem;
    }

    button {
        height: 5.6rem;
        padding: 1.2rem 0;
        border: .1rem solid var(--primary-green);
        background: none;
        color: var(--primary-white);
        background: var(--primary-green);
        font-weight: bold;
        letter-spacing: .1rem;
        margin-top: 1rem;
    }
}