<div class="container">
    <h1>register now</h1>
    <form (ngSubmit)="onRegister()">
      <input type="text" [(ngModel)]="user.name" name="username" placeholder="Username" required>
      <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
      <input type="password" [(ngModel)]="user.password" name="password1" placeholder="Enter password" required>
      <input type="password" [(ngModel)]="user.confirmPassword" name="password2" placeholder="Confirm password" required>
      <select [(ngModel)]="user.usertype" name="usertype">
        <option value="regular">Regular User</option>
        <option value="admin">Admin</option>
      </select>
      <a routerLink="/login">Already have an account?</a>
      <button type="submit">Register</button>
    </form>
  </div>
  