<div class="dashboard-container">
  
    <h1 class="dashboard-title">Product Dashboard</h1>
  
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Price ($)</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>
            <img [src]="product.img" alt="{{ product.name }}" class="product-img">
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editProduct(product)" title="edit"><i class="fa-solid fa-pen"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id)" title="delete"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button class="btn btn-success add-product-btn" (click)="addNewProduct()">Add New Product</button>
  
    <div *ngIf="isFormVisible" class="product-form">
      <h2>{{ isEditing ? 'Edit Product' : 'Add New Product' }}</h2>
      <form (ngSubmit)="saveProduct()">
        <div class="form-group">
          <input id="name" class="form-control" [(ngModel)]="productForm.name" name="name" required placeholder="Product's name">
        </div>
        <div class="form-group">
          <input id="category" class="form-control" [(ngModel)]="productForm.category" name="category" required placeholder="Category">
        </div>
        <div class="form-group">
          <input id="description" class="form-control" [(ngModel)]="productForm.description" name="description" required placeholder="description">
        </div>
        <div class="form-group">
          <input id="price" type="number" class="form-control" [(ngModel)]="productForm.price" name="price" required placeholder="Price">
        </div>
        <div class="form-group">
          <input id="quantity" type="number" class="form-control" [(ngModel)]="productForm.quantity" name="quantity" required placeholder="Quantity">
        </div>
        <div class="form-group">
          <input id="img" class="form-control" [(ngModel)]="productForm.img" name="img" required placeholder="Product's img">
        </div>
        <button type="submit" class="btn btn-primary">{{ isEditing ? 'Update' : 'Add' }}</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
  