<div class="container">
  <h2>Shopping List Of {{currentUser?.name}}</h2>
  <h4 *ngIf="shoppingList">Your basket has {{ shoppingList.products.length }} items</h4>
  <h4 *ngIf="!shoppingList">Your basket is empty</h4>

  <div *ngIf="shoppingList">
    <hr>
    <div class="product-list">

      <div *ngFor="let product of shoppingList.products" class="product-item">
      
        <div class="thumb">
          <img [src]="product.img" alt="{{ product.name }}" class="product-img">
        </div>
      
        <div class="product-info">
          <p style="color: gray;"> {{ product.category }}</p>
          <h3>{{ product.name }}</h3>
          <p>{{ product.price }}$</p>
          <p>{{ product.quantity }} items</p>
        </div>
      
        <button (click)="removeProduct(product)" title="delete">
          <i class="fa-solid fa-trash"></i>
        </button>
      
      </div>
    
    </div>
  
    <div class="total-amount">
      <h3>Total Amount: <span>{{ shoppingList.totalPrice }}$</span></h3>
    </div>
  </div>
  
  <div *ngIf="!shoppingList">
    <p>No items in the shopping list.</p>
  </div>
  
</div>