<div class="container-fluid">
    <h1>Give the Gift of a Postcard</h1>
    <p>Give the gift of a lasting memory with a postcard</p>
    <!-- <app-btn-filled [text]="'Purchase A Postcard'"></app-btn-filled> -->

    <p>A small chunk is missing here</p>
</div>
<div class="container">
    <div class="row">
        <div class="item col-12 col-xl-4">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
            <div>
                <p>Secure Payment</p>
                <span>All our payments our SSL secured</span>
            </div>
        </div>
        <div class="item col-12 col-lg-6 col-xl-4">
            <div class="icon">
                <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div>
                <p>Delivered With Care</p>
                <span>Super fast shipping to your door</span>
            </div>
        </div>
        <div class="item col-12 col-lg-6 col-xl-4">
            <div class="icon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <div>
                <p>Excellent Service</p>
                <span>Live chat and phone support</span>
            </div>
        </div>
    </div>
</div>