.container-fluid {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 40rem;
    background: url("../../../../assets/img/home/recommendation.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 4.1rem;
        letter-spacing: .5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    p {
        color: var(--secondary-gray);
        font-weight: 500;
        letter-spacing: .2rem;
        margin-bottom: 5rem;
    }
}