.container-fluid {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 40rem;
    background: url("../../../../assets/img/home/recommendation.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 4.1rem;
        letter-spacing: .5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    p {
        color: var(--secondary-gray);
        font-weight: 500;
        letter-spacing: .2rem;
        margin-bottom: 5rem;
    }
}

.container {
    display: flex;
    align-items: baseline;
    margin-bottom: 5rem;

    .row {
        width: 100%;
        justify-content: space-between;
        
        @media all and (max-width: 1200px) {
            .item:first-child {
                margin-bottom: 3rem;
            }
        }
        @media all and (max-width: 992px) {
            .item{
                margin-bottom: 3rem;
            }
        }
    }


    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 2rem;

        .icon {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background-color: var(--dark-green);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
        }

        div {
            p {
                font-size: 2.1rem;
                font-weight: 400;
                margin: 0;
            }
            span {
                color: var(--secondary-gray);
            }
        }
    }
}